In [12]:
import pandas as pd

In [4]:
# import mysql.connector as msql
# from mysql.connector import Error
# try:
#     conn = msql.connect(host='localhost', user='root')
#     if conn.is_connected():
#         cursor = conn.cursor()
#         cursor.execute("CREATE DATABASE chem")
#         print("Database is created")       
# except Error as e:
#     print("Error while connecting to MySQL", e)

Database is created

In [ ]:
#reference to step 4 https://www.projectpro.io/recipes/connect-mysql-python-and-import-csv-file-into-mysql-and-create-table#mcetoc_1g2pojq7vi

In [ ]:
try:
    conn = mysql.connect(host='localhost',  user='root', database='chem')
    if conn.is_connected():
        cursor=conn.cursor()
        cursor.execuate('select database();')
        record=cursor.fetchone()
        print("You are connected to database:", record)
        cursor.execute('DROP TABLE IF EXISTS chem_data;')
        print('Creating table...')

In [27]:
df=pd.read_csv('pubchem.csv')
df=df.iloc[: ,1:]

In [30]:
import mysql.connector

db=mysql.connector.connect(
    host='localhost',
    user='root',
    database='chem'
)


mycursor=db.cursor()

mycursor.execute('''CREATE TABLE c(cid int primary key,\
                cmpdname varchar(255), mf varchar(255),isosmiles varchar(255))''')

In [32]:
#insert dataframe to database
for row in df.itertuples():
    mycursor.execute(''' 
                INSERT INTO c(cid,cmpdname)
                VALUES(?,?,?)
                ''',
                row.cid,
                row.cmpdname)
db.commit()

ProgrammingError: Could not process parameters: int(10184653), it must be of type list, tuple or dict

In [9]:





for x in mycursor:
    print(x)

('name', 'varchar(50)', 'YES', '', None, '')
('age', 'smallint unsigned', 'YES', '', None, '')
('personID', 'int', 'NO', 'PRI', None, 'auto_increment')