## Apply mysql.connector to connect python to sql database

In [1]:
import pandas as pd
import mysql.connector as msql
from mysql.connector import Error

In [4]:
##Create database (DON't run this again after database is created)
# from mysql.connector import Error
# try:
#     conn = msql.connect(host='localhost', user='root')
#     if conn.is_connected():
#         cursor = conn.cursor()
#         cursor.execute("CREATE DATABASE chem")
#         print("Database is created")       
# except Error as e:
#     print("Error while connecting to MySQL", e)

Database is created

In [9]:
#load dataframe
df=pd.read_csv('chem.csv')
df

,cid,cmpdname,mf,isosmiles
0,10184653,Afatinib,C24H25ClFN5O3,CN(C)C/C=C/C(=O)NC1=C(C=C2C(=C1)C(=NC=N2)NC3=C...
1,176871,Erlotinib hydrochloride,C22H24ClN3O4,COCCOC1=C(C=C2C(=C1)C(=NC=N2)NC3=CC=CC(=C3)C#C...
2,118607832,Mobocertinib,C32H39N7O4,CC(C)OC(=O)C1=CN=C(N=C1C2=CN(C3=CC=CC=C32)C)NC...
3,123631,Gefitinib,C22H24ClFN4O3,COC1=C(C=C2C(=C1)N=CN=C2NC3=CC(=C(C=C3)F)Cl)OC...
4,176870,Erlotinib,C22H23N3O4,COCCOC1=C(C=C2C(=C1)C(=NC=N2)NC3=CC=CC(=C3)C#C...
...,...,...,...,...
183,164517102,Egfr-IN-62,C30H33N9O2,CN1C=C(C2=CC=CC=C21)C3=NC(=NC=C3)NC4=C(C=C(C(=...
184,164887498,Egfr-IN-70,C31H36ClN5O5S,CCS(=O)(=O)N1C=C2C3=C1C=C(C=C3)OCCCCCCOC4=C(C=...
185,164887603,Egfr/her2-IN-8,C16H16N4O2S,CCC(=O)NNC(=O)C1=CSC2=NC=C(N12)C3=CC=C(C=C3)C
186,165412706,Egfr/her2/dhfr-IN-1,C14H11BrN4O2S,CC(=O)NNC(=O)C1=CSC2=NC=C(N12)C3=CC=C(C=C3)Br
187,168264808,CID 168264808,C28H28FN7O,CN1CCN(CC1)C2=CC=C(C=C2)NC3=NC4=C(C=C(C=C4)F)C...

In [ ]:
#reference to step 4 https://www.projectpro.io/recipes/connect-mysql-python-and-import-csv-file-into-mysql-and-create-table#mcetoc_1g2pojq7vi

## Create sql table named chem_data

In [10]:
try:
    conn = msql.connect(host='localhost',  user='root', database='chem')
    if conn.is_connected():
        cursor=conn.cursor()
        cursor.execute('select database();')
        record=cursor.fetchone()
        print("You are connected to database:", record)
        cursor.execute('DROP TABLE IF EXISTS chem_data;')
        print('Creating table...')
        
        cursor.execute("CREATE TABLE chem_data(cid int, cmpdname varchar(255), \
        mf varchar(255),isosmiles varchar (255))")
        print("table is created...")
        #loop through the df 
        for i, row in df.iterrows():
            sql= "INSERT INTO chem.chem_data VALUES (%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            conn.commit()
            
        print("Record insertion complete!")    
        
except Error as e:
    print("Error while connecting to MySQL", e)

You are connected to database: ('chem',)
Creating table...
table is created...
Record insertion complete!

In [5]:
# # Execute query
# sql = "SELECT * FROM chem.chem_data"
# cursor.execute(sql)
# # Fetch all the records
# result = cursor.fetchall()
# for i in result:
#     print(i)

In [6]:
#try the with image one, import HTML to display the image
from IPython.display import HTML

In [12]:
df=pd.read_csv('~/2023summerb/2023summer/database/image_folder/with_image.csv')
HTML(df.head().to_html(escape=False))

In [13]:
##Create another sql table with image url

try:
    conn = msql.connect(host='localhost',  user='root', database='chem')
    if conn.is_connected():
        cursor=conn.cursor()
        cursor.execute('select database();')
        record=cursor.fetchone()
        print("You are connected to database:", record)
        cursor.execute('DROP TABLE IF EXISTS chem_data_image;')
        print('Creating table...')
        
        cursor.execute("CREATE TABLE chem_data_image(cid int, cmpdname varchar(255), \
        mf varchar(255),isosmiles varchar (255),image varchar(255))")
        print("table is created...")
        #loop through the df 
        for i, row in df.iterrows():
            sql= "INSERT INTO chem.chem_data_image VALUES (%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))    
            
            conn.commit()
        print("Record insertion complete!")    
except Error as e:
    print("Error while connecting to MySQL", e)

You are connected to database: ('chem',)
Creating table...
table is created...
Record insertion complete!